.back {
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: var(--back-z-index);
}

.back--show {
  visibility: visible;
  opacity: 0;
}