.catcard__picture {
  height: 80%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  transition: var(--animate-style);
  z-index: 2;
}

.catcard__picture:hover {
  transform: scale(1.2);
}

.catcard__picture--playmode {
  height: 100%;
}