.star {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.star--right {
  background: url("../images/star-win.png");
}

.star--wrong {
  background: url("../images/star-bad.png");
}

.star--right, .star--wrong {
  background-position: center;
  background-size: cover;
}